<nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
    <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back, <%= akun.username %></h4>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item">
        <h4 class="mb-0 font-weight-bold d-none d-xl-block">Mar 12, 2019 - Apr 10, 2019</h4>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
  <div class="navbar-menu-wrapper d-none d-lg-flex align-items-center">
    <div class="btn btn-rounded" style="background-color: rgba(229, 45, 45, 0.9);">Pendaftaran (Oleh User)</div>
    <div class="btn-rounded" style="color: antiquewhite;">
      <h1><i class="mdi mdi-arrow-right"></i></h1>
    </div>
    <div class="btn btn-rounded" style="background-color: rgba(249, 249, 249, 0.9);">Konfirmasi SDM (Oleh Admin)</div>
    <div class="btn-rounded" style="color: antiquewhite;">
      <h1><i class="mdi mdi-arrow-right"></i></h1>
    </div>
    <div class="btn btn-rounded" style="background-color: rgba(249, 249, 249, 0.9);">Konfirmasi Biro Tujuan (Oleh Admin)</div>
    <div class="btn-rounded" style="color: antiquewhite;">
      <h1><i class="mdi mdi-arrow-right"></i></h1>
    </div>
    <div class="btn btn-rounded" style="background-color: rgba(249, 249, 249, 0.9);">Hasil</div>

  </div>

</nav>